.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 280 px 1fr  ;
  gap: 30px;
 
  
}

 

img {
  height: 60px;
}


.nav {
  background-color: rgba(96, 23, 198, 0.629);

  display: flex;

  justify-content: space-between;

  align-items: center;

  height: 80px;
  padding: 10px 40px;
  grid-column: span 2;

}
.links {
   display: flex;
  margin: auto;
  align-items: center;
  gap: 35px;
}
p {
  color: rgb(172, 182, 248);

  cursor: pointer;

  font-size: 20px;
}

p:hover {
  color: rgb(183, 159, 200);
}


footer {
  background-color:  rgba(96, 23, 198, 0.629);
  color: white;
  grid-column: span 2;
}
.product {
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(3, 1fr);

}
.main {
   display: grid;
  gap: 20px;
  margin: 40px;
  grid-template-columns: repeat(280px, 1fr);
 

 
}
.card {
  border-radius: 15px;
  background-color: rgb(178, 160, 226);
  padding: 20px;
  text-align: center;
  
}

.card img {
  width: 200px;
  height: 200px;

  border-radius: 10px;
}

.card button {

background-color: rgb(12, 12, 76);

color: white;

border: none;
border-radius: 20px;
padding: 15px ;
cursor: pointer;

}
.side {
  grid-column: 1;
}